.content {
  background-color: #fff;
  height: 64px;
  width: 100%;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 16px;
  .logo {
    background-color: #efefef;
    width: 200px;
    height: 52px;
  }
  .right {
    flex: 1;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btns {
      display: flex;
      gap: 8px;
      .avatar {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
          white-space: nowrap;
        }
      }
    }
  }
}
